:root {
  --background: rgba(18, 18, 18, 1);
  --textComment: rgba(95, 95, 95, 1);
  --textHighlight: rgba(136, 174, 99, 1);
  --textColor: rgba(196, 200, 198, 1);
  --prompt: '# ';
  --promptColor: rgba(129, 102, 137, 1);
  --cursor: '\a0';
  --blinkTime: 2s;
  --verticalPadding: 65px;
  --horizontalPadding: 70px;
}

@keyframes blink {
  to {
    opacity: 1;
  }
}

html, body {
  height: 100%;
}

body {
  background: var(--background);
  font-family: monospace;
  font-size: 12px;
}

footer {
  position: absolute;
  bottom: 15px;
  right: 17px;
  font-size: 80%;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-comment {
  color: var(--textComment);
}
.text-highlight {
  color: var(--textHighlight);
}

.screen {
  position: absolute;
  top: var(--verticalPadding);
  left: var(--horizontalPadding);
  color: var(--textColor);
  overflow: hidden;
  width: calc(100% - (var(--horizontalPadding) * 2));
  height: calc(100% - (var(--verticalPadding) * 2));
  line-height: 18px;
}

.input {
  word-wrap: break-word;
  width: 100%;

  &:before {
    content: var(--prompt);
    color: var(--promptColor);
  }

  &:after {
    content: var(--cursor);
    background: var(--textColor);
    opacity: 0;
    animation: blink var(--blinkTime) steps(2, start) infinite reverse;
  }

  &.active:after {
    opacity: 1 !important;
  }
}

.command:before {
  content: var(--prompt);
  color: var(--promptColor);
}

.line {
  word-wrap: break-word;
  width: 100%;
}

.timestamp {
  float: right;
}
