@keyframes blink {
  to {
    opacity: 1;
  }
}

html, body {
  height: 100%;
}

body {
  background: rgba(18, 18, 18, 1);
  font-family: monospace;
  font-size: 12px;
}

footer {
  position: absolute;
  bottom: 15px;
  right: 17px;
  color: rgba(39, 41, 45, 1);
  font-size: 80%;
}

.screen {
  position: absolute;
  top: 65px;
  left: 70px;
  color: rgba(196, 200, 198, 1);
  overflow: hidden;
  width: calc(100% - 140px);
  height: calc(100% - 130px);
  line-height: 18px;
}

.input:before, .command:before {
  content: '# ';
}
.input:after {
  content: '\a0';
  background: rgba(196, 200, 198, 1);
  opacity: 0;
  animation: blink 2s steps(2, start) infinite reverse;
}
.input.active:after {
  opacity: 1 !important;
}
